  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-image: url(5910182_0002s_0002_Background.png);
  }
  
  .tea {
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: rgb(152, 221, 49);
    text-align: left;
    max-width: 900px;
    position: relative;
    left: 4%;
    margin-top: 320px;
  }
  .Lorem {
    color: rgb(152, 221, 49);
    position: absolute;
    margin-top: 100px;
    padding-left: 50px;  
  }

.ruka {
    position: absolute;
    margin-top: 450px;
    padding-left: 1300px;
}


  .travyshka{
  z-index: 1;
  padding-left: 1200px;
  margin-top:  1%;
  }